.arrow {
  border: solid gray;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrowbuttonleft {
  border: none;
  border-radius: 50%;
  padding: 1em .6em 1em 1em;
  margin-right: 1em;
  position: relative;
  bottom: 8em;
}

.arrowbuttonright {
  border: none;
  border-radius: 50%;
  padding: 1em 1em 1em .6em;
  margin-left: 1em;
  position: relative;
  bottom: 8em;
}

.arrowbuttonleft:active {
  opacity: .5;
}

.arrowbuttonright:active {
  opacity: .5;
}