#contact {
  padding: 4em 6em 7.3em 6em;
  background: linear-gradient(180deg, rgba(255,255,255,1), rgba(224,229,236,1) 35% 100%);
  color: grey;
}

.contactheading {
  font-size: 3.5em;
  font-weight: 500;
  padding-bottom: .75em;
  padding-left: 1.1em;
}

.name {
  color: grey;
  font-size: 1em;
  margin-left: 6em;
  margin-bottom: 1em;
}

.wack {
  margin-top: 1.5em;
}

.nameo {
  box-shadow: -.25em -.25em 1em white, .1em .1em 1.25em #a3b1c6;
  padding: .8em .9em .8em .9em;
  border-radius: 1em;
  margin-bottom: 2em;
}

.namae {
  width: 7.8em;
}

div.name {
  padding-top: 1em;
}

.contactlinks {
  color: grey;
  margin-right: 1.5em;
  box-shadow: -.25em -.25em 1em white, .1em .1em 1.25em #a3b1c6;
  padding: .55em .8em .55em .8em;
  border-radius: 50%;
}

#copyright {
  position: relative;
  top: 2.25em;
  padding-left: 6em;
}
