#contact {
  padding: 4em 6em 7.3em 6em;
  color: gainsboro;
  background: #3C3C3C;
}

.contactheading {
  font-size: 3.5em;
  font-weight: 900;
  padding-bottom: .75em;
  padding-left: 1.1em;
}

.name {
  font-size: 1.5em;
  padding-left: 4em;
  padding-bottom: 1em;
}

div.name {
  padding-top: 1em;
}

.contactlinks {
  color: gainsboro;
  margin-right: .75em;
}

#copyright {
  position: relative;
  top: 2.25em;
  padding-left: 6em;
}