.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: .5em 3em .5em 2em;
}

.bauble {
  height: 3.25em;
  width: 3.25em;
  border-radius: 50%;
  border: .2em solid silver;
  float: left;
  position: relative;
  top: .5em;
  margin-left: 2em;
}

.title {
  position: relative;
  top: .6em;
  display: block;
  padding-left: 5em;
  font-weight: 1000;
  font-size: 1.15em;
}

.links {
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
  bottom: 1.3em;
  float: right;
  font-weight: 1000;
  font-size: 1.15em;
}

.grey {
  font-weight: 100;
  color: rgb(107, 105, 105);
}