#landing {
  margin: 7.3em 6em 7.3em 6em;
}

.heading {
  font-size: 3.5em;
  font-weight: 900;
  padding-bottom: .75em;
  padding-left: 1.1em;
}

.headinglines {
  font-size: 3em;
  font-weight: 100;
  padding-left: 2.2em;
  padding-bottom: .75em;
}
