#projects {
  margin: 7.3em 6em 12em 6em;
  color: gray;
}

.projectsheader {
  font-size: 3.5em;
  padding-left: 1.1em;
  padding-bottom: .75em;
}

.lazysusancontainer {
  text-align: center;
}

.lazy-susan {
  height: 15em;
  width: 19em;
  margin-left: 1em;
  margin-right: 1em;
}

.lazy-susan-show {
  opacity: 0.7;
  height: 15em;
  width: 19em;
  margin-left: 1em;
  margin-right: 1em;
}